@{
    ViewBag.Title = "Account";
    //ViewBag.ReturnUrl = Html.Action("Index", "HotTowel", new { area = "" });
    ViewBag.ReturnUrl = Request.QueryString["ReturnUrl"];
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<div id="main-content">
    @if (@User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Authenticated")
    }
    else
    {
        @Html.Partial("_Authentication")
    }
</div>
@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
@section Claims {
    <h3>Your Claims</h3>
    <dl>
        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
            <dd>@claim.Issuer</dd>
        }
    </dl>
}
    
}